@font-face {
	font-family: "Pudelinka";
	src: url("Fonts/pudelinka.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #d2b48c;
	margin: 0 auto;
	width: 60%;
	border: 2px dotted black;
	padding: 10px;
	font-family: sans-serif;
}

blockquote.q {
	color: #D4AF37;
	border-left: 4px solid #8B0000;
	font-style: italic;
	padding-left: 16px;
	margin-left: 0;
}

p.quote {
	font-family: "Pudelinka", cursive;
}

